chat-cohere/backend/node_modules
chat-cohere/backend/.env
chat-cohere/frontend/.env

blog-veterinaria/backend/node_modules
blog-veterinaria/frontend/node_modules

tcp-chat/backend/node_modules
tcp-chat/backend/.env
tcp-chat/frontend/node_modules

pizza-app-utn/convertor-csv
pizza-app-utn/pizza-app-frontend/node_modules