.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f2f2f2;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.banner-content {
  text-align: left;
  margin-left: 50px;
}

.banner-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  width: 400px;
  display: flex;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #45a049;
}
